.admin {
  height: 100%;
  width: 100%;

  &__header {
    align-items: center;
    background-color: #697689;
    box-shadow: 0 4px 2px 2px lightgrey;
    color: #AEB9C9;
    display: flex;
    height: 45px;
    justify-content: space-around;
    width: 100%;
  }

  &__headerEntity {

  }

  &__headerLocation {

  }

  &__headerContacts {

  }

  &__headerRooms {

  }

  &__headerUsers {

  }

  &__main {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    padding: 65px 20px 45px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__leftContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-evenly;
    margin-right: 16px;
  }

  &__searchContainer {
    align-items: center;
    border: 1px solid #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 3px 2px 2px lightgrey;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    margin: 25px 8px 35px 8px;
    width: 335px;

  }

  &__searchInput {
    background-color: transparent;
    border: 1px solid #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px lightgrey;
    color: black;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 14px;
    text-align: center;
    width: 287px;

    &:focus {
      outline: none;
    }
  }

  &__searchButton {
    background-color: transparent;
    border: 1px solid #B0F6FB;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px lightgrey;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color .25s;
    padding: 12px 0;
    width: 125px;

    &:hover {
      background-color: #B0F6FB;
    }
  }

  &__results {
    background-color: transparent;
    border: 1px solid;
    border-color: #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 3px 2px 2px lightgrey;
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow: hidden;
    padding: 16px;
    width: 100%;
  }

  &__entitiesList {

  }

  &__rightContainer {
    align-items: center;
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 5px;
    width: 100%;
  }

  &__locations {
    background-color: transparent;
    border: 1px solid;
    border-color: #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px lightgrey;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 5px;
    width: 100%;
  }

  &__contacts {
    background-color: transparent;
    border: 1px solid;
    border-color: #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px lightgrey;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 5px;
    width: 100%;
  }

  &__rooms {
    background-color: transparent;
    border: 1px solid;
    border-color: #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px lightgrey;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 5px;
    width: 100%;
  }

  &__users {
    background-color: transparent;
    border: 1px solid;
    border-color: #B0F6FB;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px lightgrey;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 5px;
    width: 100%;
  }

  &__footer {
    background-color: #E1E6EE;
    bottom: 0;
    height: 25px;
    position: fixed;
    width: 100%;
  }
}
